@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Joan', serif;
}

/*IMAGEN FONDO*/
body
{
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER Y NAVEGACION*/
header
{
    display: flex;
    justify-content: space-between;
}

.logo img
{
    height: 125px;
    padding-top: 15px;
    padding-left: 15px;
}

.flexbox
{
    justify-content: space-around;
    align-items: center;
    font-size: 45px;
    padding: 40px;
}

.flexbox a
{
    margin: 20px;
    text-decoration: none;
    color: #fcfdff;
}

.flexbox a:hover
{
    color: #ff83ef;
}

/*TITULO*/
.title h1
{
    text-align: center;
    font-size: 175px;
    padding-top: 225px;
    padding-bottom: 125px;
}

/*LOGO FLECHA*/
.logo-flecha
{
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

/*MAIN*/
main h2
{
    color: #ff83ef;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

main p
{
    color: #fcfdff;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 25px;
}

.margin-bott
{
    margin-bottom: 100px;
}

/*3RA PAGINA SHOWS*/

/*HEADER*/
.header-shows, h1
{
    display: flex;
    justify-content: center;
    color: #ff83ef;
    margin: 30px;
    font-size: 75px;
}

/*TICKETS*/
.shows-main
{
    margin-bottom: 125px;
    margin-top: 125px;
}

.main-img
{
    display: flex;
    justify-content: space-evenly;
}

.main-img img:hover
{
    box-shadow: rgba(226, 21, 172, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(220, 22, 170, 0.09) 0px -3px 5px;
}

.shows-main p {
    color: #ff83ef;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

/*2DA PAG INTEGRANTES*/



